extends ../layout/index

block contenido
    div.entrada
        form.form(method="POST" action="/auth/olvide-password" novalidate="")
            input(type="hidden" name="_csrf" value= csrfToken)
            p.heading Recuperar cuenta
                span ingresa tu email de usuario.
            
            input.input(type="email" placeholder="Escribe tu correo." name="email")
            button(type="submit").btnForm
                | Solicitar
            
            if errores
                    include ../templates/errores

            .enlacesDiv
                a(href="/auth/login").enlace Ir a login >>