extends ../layout/index

block contenido
    div.entrada
        form.form(method="POST" novalidate="")
            input(type="hidden" name="_csrf" value= csrfToken)

            p.heading Registra
                span tu nueva password

            input.input(type="password" placeholder="Escribe tu nueva password" name="password")
            input.input(type="password" placeholder="Confirmar tu password" name="confirmPassword")
            button(type="submit").btnForm Guardar password

            if errores
                    include ../templates/errores