extends ../layout/admin

block estilos
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)

block contenido

    div.entrada
        form(class="dropzone form" id="imagen" method="POST" action=`/perfil/publicar-imagen/${articulo.id}`)
            if errores
                include ../templates/errores
            input(type="hidden" name="_csrf" value= csrfToken)
            p.heading Publicar articulo,
                span Agrega una imagen

            button.btnForm(type="button" id="publicar") Publicar articulo
block scripts
    script(src="/js/agregarImagen.js")
